*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
}
.container {
    /* border: 2px solid red; */
    margin: 20px 50px;
    /* margin-left: 50px; */
}
.student-form{
    display: flex;
    gap: 100px;
    /* border: 2px solid green; */
}
#studentForm{
    /* border: 2px solid red; */
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
#studentForm input {
    padding: 20px;
    width: 31%;
    height: 10px;
    /* flex-wrap: wrap; */
    padding: 20px;
    margin-bottom: 10px;
    margin-right: 20px;
    border: 1px solid grey;
    /* border: 2px solid red; */
}
.add-student-btn{
    /* border: 2px solid red; */
    display: block;
    padding: 10px 250px;
    /* margin-top: 1px; */
    background-color: whitesmoke;
    color: black;
    font-weight: bold;
}
.search{
    border: 1px solid grey;
    width: 88%;
    height: 30px;
    padding: 20px;
}
#student-table{
    border-collapse: collapse;
    width: 97%;
    margin-top: 10px;
}
th,td {
    border: 1px solid grey;
    padding: 8px;
    text-align: center;
}
